asgiref==3.8.1
attrs==23.2.0
autopep8==2.3.1
blinker==1.7.0
Calculator==1.1.0
certifi==2024.2.2
click==8.1.7
dateparser==1.2.0
distlib==0.3.8
Django==5.1.4
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
Faker==24.9.0
filelock==3.13.4
Flask==3.0.3
greenlet==3.0.3
itsdangerous==2.1.2
Jinja2==3.1.3
lark==1.1.9
MarkupSafe==2.1.5
MyApplication==0.1.0
pbr==6.0.0
pipenv==2023.12.1
platformdirs==4.2.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
recipe==0.37.2
regex==2023.12.25
six==1.16.0
SQLAlchemy==1.4.52
sqlparse==0.5.3
stevedore==5.2.0
structlog==24.1.0
sureberus==0.15.0
tablib==3.6.1
tzdata==2024.2
tzlocal==5.2
virtualenv==20.25.1
Werkzeug==3.0.2
